<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personenverwaltung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Personenverwaltung"/>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <br/>
            <h1>Person Overview</h1>

            <div th:each="person : ${persons}">
                <h2 th:text="${person.vorname}"></h2>
                <h2 th:text="${person.name}"></h2>
                <h2 th:text="${person.email}"></h2>

                <a th:href="@{/personenverwaltung/{id}(id = ${person.id})}" class="btn btn-primary">bearbeiten</a>
                <button>löschen</button>

                <!--<a th:href="@{/person/{id}(id = ${person.id})}">more ...</a>-->

            </div>
            <a th:href="@{/create}" class="btn btn-primary">Neue Person erstellen</a>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>